{% extends "base.html" %}

{% block content %}

<nav id="menu"class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </div>
</nav>  
<div id="icerik">
    <div class="container">
        <div class="row">
            <div class="col-lg-17">
                <div class="col-lg-5">
                    <h2 class="mt-0 mb-4">Kimdir Muhammet kaya?</h1>
                        <p >1999 Yılında İzmir'de dünyaya geldim.
                             Liseyi Menemen Atatürk Anadolu Lisesinde Okulunda tamamladım.
                             Şu an Uşak Üniversitesi Elektrik Elektronik Mühendisliği 3. sınıf Öğrencisiyim.
                            </p>
                             <p>Saygılarımla.</p>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}