{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Web Tasarım</title>
    <meta charset="utf-8">
    </head>
    <body>
    <form>
        <fieldset>
            <legend>
                İletişim Formu:
            </legend>
            
        <table border="2" bgcolor="aqua" >
           
            <tr>
        <td>Adı:<br></td>
            
             <td><input type="text" name="ad"></td>
       
        <tr>
             <td>Soyadı:<br>
             <td><input type="text" name="soyad"></td>
        </tr>
          <tr>
        </tr>
          <tr>
             <td>Numara:<br>
             <td><input type="text" name="numara"></td>
        </tr>
            
            
            </select>
            
        </table>
        Mesajınız:<br>
            <textarea name="mesaj" rows="15" cols="40">
            </textarea>
            </fieldset>
        </form>
        <a href="#">GÖNDER</a>
    </body>
</html>
{% endblock %}