{% extends "base.html" %}

{% block content %}
<h1>proje Guncelle</h1>

<form method="post">
    <input type="hidden" name="bookID" value="{{ veri{0} }}"><br>
    <label> Proje Adı : </label>
    <input type="text" name="bookTitle" value="{{ veri{1} }}"><br>
    <label> Proje Sahibi : </label>
    <input type="text" name="bookAuthor" value="{{ veri{2} }}"><br>
    <label> Yapım Yılı : </label>
    <input type="text" name="bookYear" value="{{ veri{3} }}"><br>
    <input type="submit">
</form>



{% endblock %}
